body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sign-in-up-form {
  display: flex;
  flex-direction: column;
}

.sign-in-up-page {
  width: 300px;
  margin: auto;
}

.invalid {
  border: 2px solid red;
}

input:focus {
  outline: none;
}

.input-error-message {
  color: red;
  display: none;
}

.invalid+.input-error-message {
  display: block;
}